.test {
    border: 3px solid rgb(53, 53, 136);
    padding: 10px;
    margin: 33px;
    margin-top: 30px;
    margin-bottom: 500px;
    display: inline-block;
    color:bisque;
    text-align: left;
    background-color: rgb(116, 139, 142);
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transition: 1s;
}

.test:focus {
    background-color:crimson
}

.test:active {
    background-color: rgba(158, 60, 60, 0.9);
}

.background {
    background-color: aquamarine;
    border: 100px solid rgba(0,255,255,0.2);
}

/*comments*/
.button {
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    margin-top: 3px;
    margin-right: 10px;
    padding-top: 5px;
    padding-right: 10px;
    background-color: azure;
    color:black;
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.button:hover {
    background-color: rgb(150, 163, 163);
    border: 10px solid gray
}

.test:nth-child(2) {
    color: green;
}

img:hover {
    width: 7em;
    height: 7em;
}

img {
    transition: 2s;
}