.about-format{
    padding: 2rem 100px;
}

.about-images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-images img{
    border-radius: 50%;
}

.about-images h1{
    text-align: center;
}

.about-text{
    margin-bottom: 2rem;
}

.about-text-header{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}
